<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pillow"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pillow"
        android:supportsRtl="true"
        android:theme="@style/com.example.intro.AppTheme.Light"
        android:name=".MovieApplication">
        <activity android:name=".ui.activities.IntroActivity" android:theme="@style/com.example.intro.AppTheme.Light.NoActionAndStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.HomeActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>